@tailwind base;
@tailwind components;
@tailwind utilities;
@import './night-owl.css';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */
/* html {
  scroll-behavior: smooth;
} */
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* 인라인 코드 스타일 */
code {
  background-color: #fff2e2;
  padding: 0.2em 0.4em;
  border-radius: 4px;
}
.prose
  :where(code):not(
    :where([class~='not-prose'], [class~='not-prose'] *)
  )::before {
  content: '';
}
.prose
  :where(code):not(
    :where([class~='not-prose'], [class~='not-prose'] *)
  )::after {
  content: '';
}

[data-highlighted-line] {
  @apply bg-gray-700 block w-[calc(100%+2rem)] -ml-4 px-4;
  /* w-[calc(100%+2rem)] = pre의 padding만큼 더 넓힘, -ml-2 = 왼쪽 마진 조정 */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  scroll-margin-top: 80px; /* 고정된 헤더 높이만큼 여백 */
}
a {
  word-break: break-word;
  overflow-wrap: anywhere;
}

th[align='left'],
td[align='left'] {
  text-align: left;
}
th[align='center'],
td[align='center'] {
  text-align: center;
}
th[align='right'],
td[align='right'] {
  text-align: right;
}
